.weatherContainer {
  padding: 1rem 0;
  /* border: 2px solid black; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(80, 156, 207);
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}

.btn:hover {
  color: yellow;
}

.cityWeatherInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  text-transform: capitalize;
  font-size: 1.25rem;
}

.cityName {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.temperature {
  font-size: 4rem;
  margin: 0;
}

.tempContainer {
  display: flex;
  gap: 1rem;
}
.icon {
  width: 100px;
}

.noCity {
  text-align: center;
  padding: 2rem;
  font-size: 1.25rem;
}
